<div class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column-1">
                <div class="footer-column">
                    <p><span class="underlined" data-i18n="footer.questions">Если у Вас возникли вопросы, обращайтесь по адресу</span> <strong>fde@bseu.by</strong></p>
                    <div style="width: 186px; height: 181px; background: white; margin: 27px 0 27px 0;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="186" height="181" viewBox="0 0 186 181" fill="none">
                            <rect width="186" height="181" fill="white" />
                            <rect x="15" y="12" width="25" height="25" fill="#1651A2" />
                            <rect x="40" y="37" width="25" height="25" fill="#1651A2" />
                            <rect x="40" y="37" width="25" height="25" fill="#1651A2" />
                            <rect x="65" y="62" width="25" height="25" fill="#1651A2" />
                            <rect x="65" y="12" width="25" height="25" fill="#1651A2" />
                            <rect x="15" y="62" width="25" height="25" fill="#1651A2" />
                            <rect x="90" y="87" width="25" height="25" fill="#1651A2" />
                            <rect x="115" y="12" width="25" height="25" fill="#1651A2" />
                            <rect x="140" y="12" width="25" height="25" fill="#1651A2" />
                            <rect x="115" y="62" width="25" height="25" fill="#1651A2" />
                            <rect x="90" y="112" width="25" height="25" fill="#1651A2" />
                            <rect x="65" y="137" width="25" height="25" fill="#1651A2" />
                            <rect x="115" y="137" width="25" height="25" fill="#1651A2" />
                            <rect x="15" y="137" width="25" height="25" fill="#1651A2" />
                            <rect x="40" y="112" width="25" height="25" fill="#1651A2" />
                            <rect x="40" y="137" width="25" height="25" fill="#1651A2" />
                        </svg>
                    </div>
                    <p data-i18n="footer.suggestions">Если есть предложения, можете написать нам</p>
                </div>
            </div>

            <div class="footer-column-2">
                <div class="footer-column">
                    <p data-i18n="menu.links">Ссылки</p>
                    <a href="../../about/history" data-i18n="menu.about">Деканат</a>
                    <a href="../../students/disciplines" data-i18n="menu.for_students">Новости</a>
                    <a href="../../applicants/documentsList" data-i18n="menu.for_applicants">Абитуриенту</a>
                    <a href="../../science/science" data-i18n="menu.science">Наука</a>
                    <a href="../../departments/faculties" data-i18n="menu.departments">Кафедры</a>
                    <a href="../../footer/map" data-i18n="menu.sitemap">Карта сайта</a>
                </div>
            </div>

            <div class="footer-column-3">
                <div class="footer-column">
                    <h3>
                        <a href="../../footer/contacts" style="text-decoration: none; color: inherit;" data-i18n="footer.contacts">
                            Контакты
                        </a>
                    </h3>
                    <p>+375 (17) 209-79-34</p>
                    <p>fde@bseu.by</p>
                    <p data-i18n="footer.address">220070, г. Минск, пр. Партизанский 26,</br> корпус 1, ауд. 120</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom" data-i18n="footer.copyright">© 2019-2025 БГЭУ ФЦЭ</div>
    </div>
</div> 